{% schema %}
{
  "name": "Best Sellers",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

<div id="bestsellers-container">
  <h2 id="best-section-title"></h2>
  <div id="best-product-container">
    <p>Loading bestsellers...</p>
    
  </div>
</div>

<script>
  appUrl = "https://calculated-jean-obligation-goods.trycloudflare.com";
  fetch(appUrl+'/api/bestsellers')
    .then(response => response.json())
    .then(data => {
      const container = document.getElementById('best-product-container');
      const sectionTitle = document.getElementById('best-section-title');
      let sets = data.data
      sectionTitle.innerHTML = sets.settings.title;
      console.log(data);
      if (Array.isArray(data.data.products)) {
        container.innerHTML = '<ul>' + sets.products.map(product => `
          <li>
            <a href="${product.url}" target="_blank">
              ${product.title} - ${product.total_sales} sold
            </a>
          </li>
        `).join('') + '</ul>';
      } else {
        container.innerHTML = '<p>No data found.</p>';
      }
    })
    .catch(err => {
      console.log(err);
      console.error('Error fetching bestsellers:', err);
      document.getElementById('best-product-container').innerHTML = '<p>Error loading data.</p>';
    });
</script>

