{{ 'ratings.stars.label' | t }}:

{%- for i in (1..rating) -%}
  ★
{%- endfor -%}
{%- assign blank_stars = 5 | minus: rating -%}
{%- for i in (1..blank_stars) -%}
  ☆
{%- endfor -%}

<li class="grid__item scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 4;">
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div class="card card--standard card--media" style="--ratio-percent: 100.0%;">
      <div class="card__inner color-scheme-2 gradient ratio" style="--ratio-percent: 100.0%;">
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            <img
              src="//msevimli.myshopify.com/cdn/shop/files/Main_589fc064-24a2-4236-9eaf-13b2bd35d21d.jpg?v=1746823896&amp;width=533"
              sizes="(min-width: 1200px) 267px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              class="motion-reduce"
              loading="lazy"
              width="1600"
              height="1600"
            >
          </div>
        </div>
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a href="/products/the-complete-snowboard" class="full-unstyled-link" aria-labelledby="">
                The Complete Snowboard
              </a>
            </h3>
          </div>
          <div class="card__badge bottom left"></div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading h5">
            <a href="/products/the-complete-snowboard" class="full-unstyled-link" aria-labelledby="">
              The Complete Snowboard
            </a>
          </h3>
          <div class="card-information">
            <span class="caption-large light"></span>
            <div class="price ">
              <div class="price__container">
                <div class="price__regular">
                  <span class="visually-hidden visually-hidden--inline">Regular price</span>
                  <span class="price-item price-item--regular"> 700 SEK </span>
                </div>
                <div class="price__sale">
                  <span class="visually-hidden visually-hidden--inline">Regular price</span>
                  <span> <s class="price-item price-item--regular"> </s> </span
                  ><span class="visually-hidden visually-hidden--inline">Sale price</span>
                  <span class="price-item price-item--sale price-item--last"> 700 SEK </span>
                </div>
                <small class="unit-price caption hidden">
                  <span class="visually-hidden">Unit price</span>
                  <span class="price-item price-item--last">
                    <span></span>
                    <span aria-hidden="true">/</span>
                    <span class="visually-hidden">&nbsp;per&nbsp;</span>
                    <span> </span>
                  </span>
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="card__badge bottom left"></div>
      </div>
    </div>
  </div>
</li>
